build/
build_*/
vcpkg_installed/
asan_logs/
data/shape_match/reports/
.qtcreator/

*.user
*.pdb
*.ilk
*.exp
*.obj
*.lib
*.dll
*.exe

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
.ninja_deps
.ninja_log

.vs/
.vscode/
